footer{
               
                padding: 30px 130px;
                
}
footer div{
                
               
}
footer div a{
                font-size: 12px;
                text-decoration: none;
               color: rgb(#00376B);
}
